.container {

    display: flex;
    flex-direction: column;
    padding: 3%;
    gap: 20px;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.quizes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 85%;
    align-items: center;
}

button {
    cursor: pointer;
}

.actionButtons {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.quizSelector {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 80%;
}

.quizSelector .quizDeleteButton {}

.quizSelector .quizSelectorButton {
    flex-grow: 1;
}

.quizSelectors {
    display: flex;
    flex-direction: column;
    background-color: rgb(70, 70, 70);
    align-items: center;
    gap: 10px;
    height: 100%;
    overflow-y: auto;
    padding: 20px 0px;
}