.promptBox {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    outline: none;
}


.container {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promptContainer {
    width: 80%;
    margin-top: auto;
    display: flex;
}

.generateQuestionsHeader {
    margin: auto;
}