.container {
    display: flex;
    flex-direction: column;
    padding: 3%;
    gap: 20px;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 100px;
}

.questionPromptContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 30px;
    align-items: center;
}

.questionPromptContainer img {
    filter: invert();
    height: 80%;
}

.question {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.question img {}

.questionOptions {
    display: flex;
    flex-direction: column;
}

.questionOptions .true {
    color: rgb(183, 255, 183);
}

.questionOptions .false {
    color: rgb(255, 184, 184);
}

.divider {
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: rgb(69, 69, 69);
    margin: 20px 0;
}

.dividerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}

.explanation {
    height: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-style: italic;

}

.explanation img {
    height: 70%;
    filter: invert()
}

.questionOptions .selected {
    font-weight: bolder;
}

.questionOptions .trueFalseOption {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    gap: 10px
}

.questionOptions .trueFalseOption img {
    height: 70%;
}

.questionPromptText {
    font-size: 1.2rem;
}