.container h1,
h2,
p,
span {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.quiz {
    display: flex;
    flex-direction: column;
    padding: 3%;
    gap: 30px;
}



.questionNavigationButtons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.quizOptions {
    display: flex;
    /* background-color: rgb(31, 72, 72); */
}

.quizOptions label {
    cursor: pointer;
}

.quizOptionsMultipleChoice {
    flex-direction: column;
    gap: 10px;
    width: fit-content;
}

.quizOptionsMatching {
    flex-direction: column;
    gap: 10px;
}

.quizOptionsMatching>div {
    display: flex;
    gap: 10px;
}

.quizOptionsMultiTrueFalse {
    flex-direction: column;
    gap: 10px;
    width: fit-content;
}

.trueFalseOption {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

/* .trueFalseOption.answerCorrect {
    border-radius: 10px;
    outline: 1px dotted green;
    margin-top: 3px;
}

.trueFalseOption.answerWrong {
    outline: 1px dotted red;
    border-radius: 10px;
    margin-top: 3px;

} */
.trueFalseOption.answerCorrect {
    border-radius: 10px;
    outline: 1px dashed green;
    margin-top: 3px;
}

.trueFalseOption.answerWrong {
    outline: 1px dashed red;
    border-radius: 10px;
    margin-top: 3px;

}

.multiSelectOption {
    padding: 0 10px;
}

.multiSelectOption.answerCorrect {
    border-radius: 10px;
    outline: 1px dashed green;
    margin-top: 3px;
}

.multiSelectOption.answerWrong {
    outline: 1px dashed red;
    border-radius: 10px;
    margin-top: 3px;

}


.trueFalseOption>div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.trueFalseOption>div:hover {
    background-color: rgba(0, 179, 255, 0.438);
}

.trueFalseOption img {
    height: 30px;
    opacity: 1;
}

/* .trueFalseOption img:hover {
    opacity: 1;
} */


.quizOptionsSorting {
    flex-direction: column;
    gap: 10px;
}

.quizOptionsSorting>div {
    display: flex;
    width: fit-content;
    cursor: pointer;
    gap: 10px;
}

.upDownArrows {
    display: flex;
    flex-direction: column;
    height: 25px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-self: center;
}

.upDownArrows img {
    height: 50%;
    opacity: 0.5;
    filter: invert()
}

.upDownArrows img:hover {
    opacity: 1;
}

.upDownArrows button {
    background: none;
    color: white;
    border: 1px solid white;
    padding: 0;
    margin: 0;
}

.quizOptionsFillInBlanks {}

.blankParagraph {
    line-height: 2;
    /* Gives space for inputs between lines */
    font-size: 1.1rem;
}

.inlineInput {
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 0 5px;
    margin: 0 5px;
    text-align: center;
    width: 100px;
    /* Adjust based on expected answer length */
    outline: none;
    font-size: inherit;
    background-color: transparent;
    color: white;
}

.inlineInput:focus {
    border-bottom-color: #007bff;
    /* Highlight on focus */
}

.questionButtons {
    display: flex;
    gap: 10px
}

.questionButtons>button {
    flex-grow: 1;
    /* background-color: rgb(170, 97, 97);
    color: white;
    border: none; */
    color: white;
    cursor: pointer;
    opacity: 0.8;
}

.questionButtons>button:hover {
    opacity: 1;
}

.questionButtonNoAnswer {
    background-color: rgb(37, 15, 165);
    border: 1px solid rgb(74, 42, 255);
}

.questionButtonAnswered {
    background-color: rgb(209, 136, 0);
    border: 1px solid rgb(255, 200, 0);
}

.questionButtonWrong {
    background-color: rgb(120, 0, 0);
    border: 1px solid red;
}

.questionButtonCorrect {
    background-color: rgb(0, 130, 0);
    border: 1px solid rgb(0, 255, 0);
}

.questionButtonSelected {
    /* outline: 1px solid orange; */
    /* background-color: rgb(209, 136, 0);
    border: 1px solid rgb(255, 200, 0); */
    border: 1px solid red;
    outline: 2px solid red;
}

.answerResult {
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
}

.answerResult button {
    width: 200px;
}

.answerResult.wrong h1 {
    color: red
}

.answerResult.correct h1 {
    color: green
}

.answerResult.pending h1 {
    color: orange
}

.gradesContainer {
    padding: 3%;
    white-space: pre-wrap;
}

.gradesNavigationButtons {
    display: flex;
    flex-direction: row;
    gap: 10px
}

.questionHeader {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* align-items: center; */
}

.questionHeader img {
    height: 30px;
    filter: invert();
    margin-top: 15px;
}

.openEndedAnswerBox {
    width: 100%;
    height: 200px;
}

.sortOption {
    padding: 0 10px;
}

.sortOption.showExplanation span {
    font-weight: bolder;
}


.sortOption.showExplanation.answerCorrect {
    border-radius: 10px;
    outline: 1px dashed green;
    margin-top: 3px;
}

.sortOption.showExplanation.answerWrong {
    outline: 1px dashed red;
    border-radius: 10px;
    margin-top: 3px;

}

.matchOption {
    padding: 0 10px;
    width: fit-content;
}


.matchOption.showExplanation.answerCorrect {
    outline: 1px dashed green;
    border-radius: 10px;
    margin-top: 3px;
    padding: 3px 10px;
}

pre {
    background-color: black !important;
}

.matchOption.showExplanation.answerWrong {
    outline: 1px dashed red;
    border-radius: 10px;
    margin-top: 3px;
    padding: 3px 10px;
}

.blankOption.showExplanation {}


.blankOption.showExplanation.answerCorrect {
    outline: 2px dashed green;
}

.blankOption.showExplanation.answerWrong {
    outline: 2px dashed red;
    font-style: italic;
}


.singleSelectOption.showExplanation {}


.singleSelectOption.showExplanation.answerCorrect {
    outline: 2px dashed green;
}

.singleSelectOption.showExplanation.answerWrong {
    outline: 2px dashed red;
}